
.app-item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 40%;
    max-width: 198px;
    border-radius: 12px;
    padding-top: 24px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  
  p {
    color: #1e293b;
    font-family: 'Bree Serif';
    font-size: 24px;
    font-weight: 500;
  }
  
